%h2
  = thermostat.name

%dl
  %dt
    Current Temperature
  %dd
    - if thermostat.current_temperature
      #{thermostat.current_temperature} °F
    - else
      \--

  %dt
    Target Temperature
  %dd
    - if thermostat.target_temperature
      #{thermostat.target_temperature} °F
    - else
      \--

  %dt
    Hysteresis
  %dd
    - if thermostat.hysteresis
      #{thermostat.hysteresis} °F
    - else
      \--

  %dt
    Running?
  %dd
    = thermostat.running?

  %dt
    Updated At
  %dd
    = thermostat.updated_at
    = "(#{time_ago_in_words( thermostat.updated_at ) } ago)"

  - if thermostat.thermostat_histories.today.present?
    = render partial: "history", locals: { history: thermostat.thermostat_histories.today.first }
