= simple_form_for(@thermostat, url: thermostat_path, html: {class: 'form-horizontal' }) do |f|
  .form-group
    = f.label :name, class: "control-label col-sm-2"
    .col-sm-10
      = f.text_field :name, class: "form-control ", placeholder: "House, Guest House, Garage, etc."
      %small <em>This is just a friendly name to help you.</em>
      
  .form-group
    = f.label "Temperature Sensor ID", class: "control-label col-sm-2"
    .col-sm-10
      = f.text_field :temperature_sensor_id, class: "form-control ", placeholder: "28-0000023100d5"
      %small <em>Ex: 28-0000023100d5</em>

  .form-group
    .col-sm-2
      = f.label "GPIO Pins", class: "control-label"
      %small
        = link_to "Pinout", "http://wiringpi.com/pins/", target: "_blank"
        %i.fa.fa-external-link
    
    .col-sm-3
      = f.input :gpio_cool_pin, collection: 0..20, as: :select, label: false, class: "form-control", input_html: {style: "width: 100%"}
      %small Cool

    .col-sm-3
      = f.input :gpio_heat_pin, collection: 0..20, as: :select, label: false, class: "form-control", input_html: {style: "width: 100%"}
      %small Heat

    .col-sm-3
      = f.input :gpio_fan_pin, collection: 0..20, as: :select, label: false, class: "form-control", input_html: {style: "width: 100%"}
      %small Fan
  
  .form-group
    .col-sm-10.col-sm-offset-2
      %small
        %em Note: For better or worse, we use the Wiring Pi Pinout. #{link_to "View pinout diagram", "http://wiringpi.com/pins/", target: "_blank"}
        %i.fa.fa-external-link
        
      
  .form-group
    = f.label "Security", class: "control-label col-sm-2"
    .col-sm-5
      = f.text_field :username, class: "form-control ", placeholder: "admin"
      %small <em>Ex: admin</em>
    .col-sm-5
      = f.text_field :password, class: "form-control ", placeholder: "password", value: nil
      %small Leave blank to not change

  .form-group
    .col-sm-12
      %button.btn.btn-primary.form-control{ type: "submit" }
        Save