- content_for :title do
  = @thermostat.name

.row{ style: "margin-top: 0.5em;" }
  .col-md-12
    .jumbotron
      .row
        .col-md-12
          .small
            = @thermostat.name

          %h1
            = @thermostat.current_temperature.round(2)
            °F

          .small
            Target: #{@thermostat.target_temperature.round(2)} °F / #{@thermostat.hysteresis}

          - if @thermostat.on_override?
            .small
              Override:
              = @thermostat.override_mode.to_s.gsub( 'override_mode_', '' ).titleize
              = @thermostat.override_target_temperature
              °F / #{@thermostat.override_hysteresis}
              = "for #{distance_of_time_in_words( @thermostat.override_until, Time.now)}"
          - else
            .small
              Mode: #{@thermostat.mode.titleize}

          .small
            - if @thermostat.running?
              Running
            - else
              %span{ style: "color: #AAA;" }
                Not Running

      .row{ style: "margin-top: 4em;" }
        .col-md-2
          = form_for @thermostat, url: im_cold_thermostat_path( @thermostat ), method: :post, class: "form-horizontal" do |f|
            .form-group
              %button.btn.form-control.btn-primary{ type: :submit }
                I'm Cold

        .col-md-2
          = form_for @thermostat, url: im_hot_thermostat_path( @thermostat ), method: :post, class: "form-horizontal" do |f|
            .form-group
              %button.btn.form-control.btn-primary{ type: :submit }
                I'm Hot



.row
  .col-md-12
    = form_for @thermostat, class: "form-horizontal" do |f|
      .well
        .form-group
          .col-sm-3
            = select_tag "override_value", options_for_select( (0..48).each.collect{ |n| ["#{n} hours", n] } ), class: "form-control"
          .col-sm-2
            = f.text_field :override_target_temperature, class: "form-control"
          .col-sm-2
            = f.text_field :override_hysteresis, class: "form-control"
          .col-sm-2
            = f.select :override_mode, options_for_select( Thermostat.override_modes.keys.collect{ |m| [m.gsub( 'override_mode_', '' ).titleize, m]}, @thermostat.override_mode ), {}, class: "form-control"
          .col-sm-2
            %button.btn.form-control.btn-primary{ type: :submit }
              Override

        %br




.row
  .col-md-12

    %h2
    Active Schedule:
    = link_to @thermostat.active_schedule.name, thermostat_thermostat_schedule_path( @thermostat, @thermostat.active_schedule )

    %table.table
      - if @thermostat.active_schedule.present?
        - @thermostat.active_schedule.thermostat_schedule_rules.active_on_day(Time.now.wday).order_by_time.each do |rule|
          %tr{ class: "#{@thermostat.active_schedule_rule == rule ? 'info' : '' }"}
            %td
              = '%02i' % rule.hour
              \:
              = '%02i' % rule.minute
            %td
              = rule.target_temperature
            %td
              = rule.hysteresis
            %td
              = rule.mode

    %h2 Today's Temperature

    .row
      = line_chart [{ name: "Temperature", data: @thermostat.thermostat_histories.today.first.data_for_chartkick}], library: { curveType: 'none', lineWidth: '0.5', pointSize: 0 }, min: @thermostat.thermostat_histories.today.first.low_temperature - 1, max: @thermostat.thermostat_histories.today.first.high_temperature + 1, height: '400px'